@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500;700&display=swap");
body {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #ff6d6d;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  outline: none;
  border: none;
  padding: 15px 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.header .button {
  width: 27%;
}

.button:hover {
  background-color: #c05454;
}

.section__features,
.section__browser,
.section__registration {
  padding-top: 100px;
}

.area__textual {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .area__textual,
.browser .area__textual {
  display: block;
  max-width: 700px;
  text-align: center;
}

.registration .area__textual {
  max-width: 100%;
  text-align: center;
}

.area__textual .area__suptitle {
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 15px 0;
}

.area__textual .area__title {
  color: #333;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  letter-spacing: 3px;
  margin: 0 0 40px 0;
  line-height: 55px;
}

.area__textual .area__title span {
  color: #ff6d6d;
}

.registration .area__textual .area__title {
  color: #fff;
}

.area__textual .area__text {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.column__item {
  width: 33.33333%;
  height: auto;
  padding: 0 20px;
  margin: 20px 0;
}

.column__item .item__icon {
  width: 80px;
  height: 80px;
  border: 2px solid #000000;
  margin: 0 auto;
}

.features .column__item .item__icon {
  border: 0;
  margin: 0 0 30px;
}

.column__item .item__textual {
  padding-top: 20px;
}

.column__item .item__name {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  margin: 0 0 5px 0;
}

.features .column__item .item__name {
  color: #333;
  margin: 0 0 20px 0;
}

.column__item .item__position {
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  margin: 0 0 30px 0;
}

.column__item .item__text {
  color: #b2b2b4;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Exo', sans-serif;
  margin: 0 0 40px 0;
  letter-spacing: 1px;
}

.features .column__item .item__text {
  color: #6e6e6d;
  font-style: normal;
}

/* _______ section header _______ */
.section__header {
  background: #ffffff url("../img/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}

.header .main__title {
  font-family: 'Exo', sans-serif;
  font-weight: 100;
  font-size: 60px;
  color: #333333;
  line-height: 80px;
  margin: 0 0 30px 0;
}

.header .header__icon {
  color: #8387a5;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  margin: 0 0 30px 0;
}

.header .header__icon:hover, .header .header__icon:focus, .header .header__icon:active {
  color: #ff6d6d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* lightbox video */
#lightbox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightbox:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video {
  position: relative;
}

.video .lightbox__video {
  width: 560px;
  height: 315px;
}

.video .button__close {
  position: absolute;
  right: -1em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  color: #333333;
  background-color: #ff6d6d;
  border-radius: 50%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .button__close::after {
  content: 'X';
  color: #ffffff;
  font-weight: 700;
}

.video .button__close:hover {
  background-color: #c05454;
}

/* _______ section content _______ */
.section__content {
  background-color: #ECECEC;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 725px;
  width: 100%;
  margin: 0 auto;
}

.content .area__backgraund {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
}

/* view block */
.view {
  width: 35%;
  position: relative;
}

.view .view__triangle {
  width: 100%;
  height: 65%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49.8%, transparent), color-stop(50%, #ff6d6d)) left/100% 100% no-repeat;
  background: linear-gradient(to right bottom, transparent 49.8%, #ff6d6d 50%) left/100% 100% no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* _______ section features _______ */
.section__features {
  height: 765px;
  color: #fff;
  background: url("../img/features-bg.jpg") no-repeat;
  background-size: cover;
}

.features__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

/* _______ section founder _______ */
.section__founder {
  position: relative;
}

.founder__triangle {
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(49.8%, transparent), color-stop(50%, #ff6d6d)) left/100% 150% no-repeat;
  background: linear-gradient(to left bottom, transparent 49.8%, #ff6d6d 50%) left/100% 150% no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.block__content {
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.block__content .mac__img {
  width: 55%;
  margin: 0 10px 50px;
}

/* block founder */
.block__founder {
  position: relative;
  background-color: #000;
}

.block__founder::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/dark-fon.jpg");
  background-size: cover;
}

.founder {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.founder .founder__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners {
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}

.partners .partner__logo {
  display: block;
  width: 950px;
  max-width: 100%;
  height: auto;
  padding: 0 15px;
}

/* _______ section browser _______ */
.section__browser {
  background-color: #f6f5f3;
  position: relative;
  z-index: 3;
}

.browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 850px;
  height: 750px;
  margin: 0 auto;
}

.browser .browser__img {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
}

/* _______ section registration _______ */
.section__registration {
  width: 100%;
  height: 485px;
  background-color: #323969;
}

.registration {
  width: 100%;
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
}

.part__registration {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px auto;
}

.part__registration input,
.part__registration button {
  width: 265px;
  height: 50px;
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.part__registration input {
  color: #f6f5f3;
  background-color: #474D78;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
}

.part__registration input:focus {
  border: 2px solid #ff8a8a;
}

.part__registration input::-webkit-input-placeholder {
  color: #f6f5f3;
}

.privacy {
  width: 100%;
  text-align: center;
  color: #A6AABC;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
}

.privacy a {
  color: #A6AABC;
}

/* _______ section footer _______ */
.section__footer {
  width: 100%;
  height: 330px;
  position: relative;
}

.images {
  width: 30%;
  height: 360px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(49.8%, transparent), color-stop(50%, #ff6d6d)) left/100% 100% no-repeat;
  background: linear-gradient(to right top, transparent 49.8%, #ff6d6d 50%) left/100% 100% no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 85px 0;
}

.footer__address,
.footer__letter {
  margin: 30px 0;
  padding: 0 20px 0 10px;
}

.footer__support,
.footer__about {
  margin: 30px 0;
  padding: 0 50px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 15px;
}

.footer__icon .icon__start {
  font-size: 26px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  padding: 6px 1px 6px 0;
  -webkit-user-select: none;
}

.address__text {
  width: 235px;
  color: #868686;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  line-height: 25px;
}

.footer__title {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  margin: 10px 0 25px 0;
}

.footer__link {
  display: inline-block;
  color: #868686;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  line-height: 20px;
  margin: 3px 0;
}

.footer__email {
  width: 100%;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__email input {
  width: 80%;
  background-color: #f6f6f6;
  border: 2px solid #cccccc;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 10px 15px;
  color: #868686;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
  outline: none;
}

.footer__email input::-webkit-input-placeholder {
  color: #cccccc;
}

.footer__email input:-ms-input-placeholder {
  color: #cccccc;
}

.footer__email input::-ms-input-placeholder {
  color: #cccccc;
}

.footer__email input::placeholder {
  color: #cccccc;
}

.footer__email input:focus {
  outline: 0;
  border-color: #ff8a8a;
}

.footer__email button {
  width: 55px;
  height: 46px;
  background-color: #ff8a8a;
  border: 1px solid #868686;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  margin: 0 -3px 0;
  outline: none;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.footer__email button:hover {
  background-color: #ff6d6d;
}

.footer__email button:focus {
  outline: 0;
}

.socials {
  width: auto;
  max-width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.socials a {
  color: #cccccc;
  font-size: 1.5rem;
}

.socials a:hover {
  color: #ff6d6d;
}

#results {
  width: 100%;
  text-align: center;
}

#results h1 {
  color: #ff8a8a;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
}

#results h1 a {
  color: #ffffff;
  text-decoration: none;
}

#results h1 a h2 {
  border: 2px solid #ff8a8a;
}

/* ======= media ======= */
@media (max-width: 1100px) {
  .section__registration {
    height: auto;
  }
  .part__registration {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input,
  button {
    width: 35%;
  }
  .privacy {
    padding-bottom: 100px;
  }
}

@media (max-width: 970px) {
  .ac__title {
    font-size: 35px;
    margin: 0 0 30px 0;
  }
  .block__content .mac__img {
    width: 45%;
  }
  .founder {
    height: 750px;
  }
  .founder .founder__row {
    padding-top: 100px;
  }
  .partners {
    margin: 0 0 100px 0;
  }
  .partners .partner__logo {
    width: auto;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer__support,
  .footer__about {
    padding: 0 25px;
  }
}

@media (max-width: 770px) {
  .header .button {
    width: 35%;
  }
  .features .area__textual .area__title {
    margin: 0 0 60px;
  }
  .header .main__title {
    font-size: 50px;
  }
  .video .lightbox__video {
    width: 400px;
    height: 200px;
  }
  .content {
    height: 750px;
  }
  .content .area__backgraund {
    width: 100%;
  }
  .view {
    display: none;
  }
  .section__features {
    background: #f6f5f3;
    height: auto;
  }
  .features__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .column__item {
    width: 65%;
  }
  .features .column__item .item__icon {
    margin: 0 0 20px 0;
  }
  .section__founder {
    height: 770px;
  }
  .section__founder .founder__triangle {
    display: none;
  }
  .block__content {
    height: 770px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .area__information {
    width: 90%;
  }
  .founder {
    height: auto;
  }
  .founder__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .founder__item {
    width: 60%;
  }
  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners .partner__logo {
    margin-bottom: 15px;
  }
  .partners .partner__img {
    margin: 0 auto;
  }
  .browser {
    height: 650px;
  }
  .part__registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input,
  button {
    width: 65%;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__support {
    padding-right: 20px;
  }
  .footer__title {
    font-size: 26px;
    margin: 10px 0;
  }
  .footer__link {
    font-size: 18px;
    line-height: 33px;
  }
  .footer__address,
  .footer__letter {
    margin: 15px 0;
  }
}

@media (max-width: 470px) {
  .header .button {
    width: 60%;
  }
  .area__textual .area__suptitle,
  .area__textual .area__text {
    font-size: 14px;
  }
  .area__textual .area__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 20px 0;
  }
  .header .main__title {
    font-size: 35px;
    line-height: 50px;
  }
  .video .lightbox__video {
    width: 300px;
    height: 200px;
  }
  .video .button__close {
    top: -1em;
    right: 0;
  }
  .column__item {
    width: 90%;
  }
  .block__content .mac__img {
    width: 65%;
  }
  .founder__item {
    width: 90%;
  }
  .partners {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .browser {
    height: 550px;
  }
}
