/* ======= media ======= */
@media (max-width: 1100px) {
    .section__registration {
        height: auto;
    }

    .part__registration {
        flex-wrap: wrap;
        justify-content: center;
    }

    input,
    button {
        width: 35%;
    }

    .privacy {
        padding-bottom: 100px;
    }

    // section footer
    .footer__address,
    .footer__letter {}
}

@media (max-width: 970px) {
    .ac__title {
        font-size: 35px;
        margin: 0 0 30px 0;
    }

    // section content 
    .block__content {
        .mac__img {
            width: 45%;
        }
    }

    // section founder
    .founder {
        height: 750px;

        .founder__row {
            padding-top: 100px;
        }
    }

    .partners {
        margin: 0 0 100px 0;

        .partner__logo {
            width: auto;
        }
    }

    // section footer
    .footer__row {
        justify-content: center;
        padding-bottom: 0;
        flex-wrap: wrap-reverse;
    }

    .footer__support,
    .footer__about {
        padding: 0 25px;
    }

}

@media (max-width: 770px) {

    // general value
    .button {
        .header & {
            width: 35%;
        }
    }

    .area__textual {
        .area__title {
            .features & {
                margin: 0 0 60px;
            }
        }
    }

    // section header 
    .header {
        .main__title {
            font-size: 50px;
        }
    }

    // lightbox
    .video {
        .lightbox__video {
            width: 400px;
            height: 200px;
        }
    }

    // section content
    .content {
        height: 750px;

        .area__backgraund {
            width: 100%;
        }
    }

    .view {
        display: none;
    }

    // section features
    .section__features {
        background: #f6f5f3;
        height: auto;
    }

    .features__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .column__item {
        width: 65%;

        .item__icon {
            .features & {
                margin: 0 0 20px 0;
                ;
            }
        }
    }

    // section founder 
    .section__founder {
        height: 770px;

        .founder__triangle {
            display: none;
        }
    }

    .block__content {
        height: 770px;
        flex-direction: column;
    }

    .area__information {
        width: 90%;
    }

    .founder {
        height: auto;
    }

    .founder__row {
        flex-direction: column;
        align-items: center;
    }

    .founder__item {
        width: 60%;
    }

    .partners {
        flex-wrap: wrap;
        justify-content: center;

        .partner__logo {
            margin-bottom: 15px;
        }

        .partner__img {
            margin: 0 auto;
        }
    }

    // browser
    .browser {
        height: 650px;
    }

    // registration
    .part__registration {
        flex-direction: column;
    }

    input,
    button {
        width: 65%;
    }

    // section footer
    .footer__row {
        justify-content: center;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        align-items: center;
        text-align: center;
    }

    .footer__item {
        align-items: center;
    }

    .footer__support {
        padding-right: 20px;
    }

    .footer__title {
        font-size: 26px;
        margin: 10px 0;
    }

    .footer__link {
        font-size: 18px;
        line-height: 33px;
    }

    .footer__address,
    .footer__letter {
        margin: 15px 0;
    }
}

@media (max-width: 470px) {

    // general value
    .button {
        .header & {
            width: 60%;
        }
    }

    .area__textual {

        .area__suptitle,
        .area__text {
            font-size: 14px;
        }

        .area__title {
            font-size: 30px;
            line-height: 40px;
            margin: 0 0 20px 0;
        }
    }

    // section header
    .header {
        .main__title {
            font-size: 35px;
            line-height: 50px;
        }
    }

    // lightbox
    .video {
        .lightbox__video {
            width: 300px;
            height: 200px;
        }

        .button__close {
            top: -1em;
            right: 0;
        }
    }

    // section features
    .column__item {
        width: 90%;
    }

    // section content
    .block__content {
        .mac__img {
            width: 65%;
        }
    }

    // section founder
    .founder__item {
        width: 90%;
    }

    .partners {
        width: 100%;
        flex-wrap: wrap;
    }

    // section browser
    .browser {
        height: 550px;
    }
}