@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500;700&display=swap");

body {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

// General Setting

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    color: #ffffff;
    background-color: #ff6d6d;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 15px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s linear;

    .header & {
        width: 27%;
    }

    &:hover {
        background-color: #c05454;
    }
}

.section__features,
.section__browser,
.section__registration {
    padding-top: 100px;
}

// textual block
.area__textual {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .features &,
    .browser & {
        display: block;
        max-width: 700px;
        text-align: center;
    }

    .registration & {
        max-width: 100%;
        text-align: center;
    }

    .area__suptitle {
        color: #ff6d6d;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0 0 15px 0;
    }

    .area__title {
        color: #333;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        letter-spacing: 3px;
        margin: 0 0 40px 0;
        line-height: 55px;

        span {
            color: #ff6d6d;
        }

        .registration & {
            color: #fff;
        }
    }

    .area__text {
        color: #717171;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        line-height: 30px;
        letter-spacing: 0.5px;
    }
}

// column block
.column__item {
    width: 33.33333%;
    height: auto;
    padding: 0 20px;
    margin: 20px 0;

    .item__icon {
        width: 80px;
        height: 80px;
        border: 2px solid #000000;
        margin: 0 auto;

        .features & {
            border: 0;
            margin: 0 0 30px;
        }
    }

    .item__textual {
        padding-top: 20px;
    }

    .item__name {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        margin: 0 0 5px 0;

        .features & {
            color: #333;
            margin: 0 0 20px 0;
        }
    }

    .item__position {
        color: #ff6d6d;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Exo', sans-serif;
        margin: 0 0 30px 0;
    }

    .item__text {
        color: #b2b2b4;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        font-family: 'Exo', sans-serif;
        margin: 0 0 40px 0;
        letter-spacing: 1px;

        .features & {
            color: #6e6e6d;
            font-style: normal;
        }
    }
}

/* _______ section header _______ */
.section__header {
    background: #ffffff url("../img/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;

    .main__title {
        font-family: 'Exo', sans-serif;
        font-weight: 100;
        font-size: 60px;
        color: #333333;
        line-height: 80px;
        margin: 0 0 30px 0;
    }

    .header__icon {
        color: #8387a5;
        font-size: 4rem;
        cursor: pointer;
        transition: .1s linear;
        margin: 0 0 30px 0;

        &:hover,
        &:focus,
        &:active {
            color: #ff6d6d;
            transform: scale(1.1);
        }
    }
}

/* lightbox video */
#lightbox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;

    &:target {
        display: flex;
    }
}

.video {
    position: relative;

    .lightbox__video {
        width: 560px;
        height: 315px;
    }

    .button__close {
        position: absolute;
        right: -1em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        color: #333333;
        background-color: #ff6d6d;
        border-radius: 50%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: 'X';
            color: #ffffff;
            font-weight: 700;
        }

        &:hover {
            background-color: #c05454;
        }
    }
}

/* _______ section content _______ */
.section__content {
    background-color: #ECECEC;
}

.content {
    display: flex;
    height: 725px;
    width: 100%;
    margin: 0 auto;

    .area__backgraund {
        width: 65%;
        display: flex;
        background: #ffffff;
    }
}

/* view block */
.view {
    width: 35%;
    position: relative;

    .view__triangle {
        width: 100%;
        height: 65%;
        background: -webkit-gradient(linear, left top, right bottom, color-stop(49.8%, transparent), color-stop(50%, #ff6d6d)) left/100% 100% no-repeat;
        background: linear-gradient(to right bottom, transparent 49.8%, #ff6d6d 50%) left/100% 100% no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* _______ section features _______ */
.section__features {
    height: 765px;
    color: #fff;
    background: url("../img/features-bg.jpg") no-repeat;
    background-size: cover;
}

.features__wrapper {
    width: 100%;
    display: flex;
    text-align: center;
}

/* _______ section founder _______ */
.section__founder {
    position: relative;
}

.founder__triangle {
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left bottom, color-stop(49.8%, transparent), color-stop(50%, #ff6d6d)) left/100% 150% no-repeat;
    background: linear-gradient(to left bottom, transparent 49.8%, #ff6d6d 50%) left/100% 150% no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.block__content {
    height: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .mac__img {
        width: 55%;
        margin: 0 10px 50px;
    }
}

/* block founder */
.block__founder {
    position: relative;
    background-color: #000;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../img/dark-fon.jpg");
        background-size: cover;
    }
}

.founder {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;

    .founder__row {
        width: 100%;
        display: flex;
    }
}

.partners {
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;

    .partner__logo {
        display: block;
        width: 950px;
        max-width: 100%;
        height: auto;
        padding: 0 15px;
    }
}

/* _______ section browser _______ */
.section__browser {
    background-color: #f6f5f3;
    position: relative;
    z-index: 3;
}

.browser {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 850px;
    height: 750px;
    margin: 0 auto;

    .browser__img {
        width: 100%;
        max-width: 890px;
        margin: 0 auto;
        padding: 0 20px;
        position: absolute;
        bottom: 0;
    }
}

/* _______ section registration _______ */
.section__registration {
    width: 100%;
    height: 485px;
    background-color: #323969;
}

.registration {
    width: 100%;
    max-width: 1140px;
    height: auto;
    margin: 0 auto;
}

.part__registration {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 50px auto;

    input,
    button {
        width: 265px;
        height: 50px;
        padding: 10px;
        margin: 10px;
        outline: none;
        border: none;
        border-radius: 3px;
    }

    input {
        color: #f6f5f3;
        background-color: #474D78;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Exo', sans-serif;

        &:focus {
            border: 2px solid #ff8a8a;
        }
    }

    input::-webkit-input-placeholder {
        color: #f6f5f3;
    }
}

.privacy {
    width: 100%;
    text-align: center;
    color: #A6AABC;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Exo', sans-serif;

    a {
        color: #A6AABC;
    }
}

// two
#lightbox_two {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;

    &:target {
        display: flex;
    }
}

.lbox__images {
    position: relative;

    .lightbox__images {
        width: 500px;
        height: 100vh;
    }

    .button__close {
        position: absolute;
        right: -1em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        color: #333333;
        background-color: #ff6d6d;
        border-radius: 50%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: 'X';
            color: #ffffff;
            font-weight: 700;
        }

        &:hover {
            background-color: #c05454;
        }
    }
}

/* _______ section footer _______ */
.section__footer {
    width: 100%;
    height: 330px;
    position: relative;
}

.images {
    width: 30%;
    height: 360px;
    background: linear-gradient(to right top, transparent 49.8%, #ff6d6d 50%) left/100% 100% no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.footer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

    position: relative;
    z-index: 5;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.footer__address,
.footer__letter {
    margin: 30px 0;
    padding: 0 20px 0 10px;
}

.footer__support,
.footer__about {
    margin: 30px 0;
    padding: 0 50px;
}


.footer__item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}



.footer__icon {
    display: inline-flex;
    margin-bottom: 15px;

    .icon__start {
        font-size: 26px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        padding: 6px 1px 6px 0;
        -webkit-user-select: none;
    }
}

.address__text {
    width: 235px;
    color: #868686;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    line-height: 25px;
}

.footer__title {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 10px 0 25px 0;
}

.footer__link {
    display: inline-block;
    color: #868686;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    line-height: 20px;
    margin: 3px 0;
}

// Footer email
.footer__email {
    width: 100%;
    max-width: 270px;
    display: flex;

    input {
        width: 80%;
        background-color: #f6f6f6;
        border: 2px solid #cccccc;
        border-right: 0;
        border-radius: 5px 0px 0px 5px;
        padding: 10px 15px;
        color: #868686;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Exo', sans-serif;
        outline: none;

        &::placeholder {
            color: #cccccc;
        }

        &:focus {
            outline: 0;
            border-color: #ff8a8a;
        }
    }

    button {
        width: 55px;
        height: 46px;
        background-color: #ff8a8a;
        border: 1px solid #868686;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s linear;
        margin: 0 -3px 0;
        outline: none;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: #ff6d6d;
        }

        &:focus {
            outline: 0;
        }
    }
}

.socials {
    width: auto;
    max-width: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px auto;

    a {
        color: #cccccc;
        font-size: 1.5rem;

        &:hover {
            color: #ff6d6d;
        }
    }
}







// This is PAGE TWO
.confirm__block {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 50px 0;

    h1 {
        color: #ff8a8a;
        font-weight: 400;
        font-family: 'Exo', sans-serif;
        margin-bottom: 30px;
    }

    a {
        font-size: 22px;
        color: #ffffff;
        text-decoration: none;
        border: 2px solid #ff8a8a;
        padding: 15px;
    }
}

@import "_media.scss";