<section class="section__registration">
    <div class="registration">
        <div class="part__textual">
            <div class="part__suptitle">New Features</div>
            <div class="part__title">Over 1000 designers are using ...</div>
        </div>
        <%- include ('./partials/messages') %>
        <form action="/users/register" method="POST" class="part__registration">
            <input type="text" name="name" id="name" placeholder="FULL NAME"
                value="<%= typeof name != 'undefined' ? name : '' %>">
            <input type="email" name="email" id="email" placeholder="YOUR EMAIL"
                value="<%= typeof email != 'undefined' ? email : '' %>">
            <input type="password" name="password" id="password" placeholder="PASSWORD"
                value="<%= typeof email != 'undefined' ? password : '' %>">
            <button type="submit" class="button">TRY NOW</button>
        </form>
        <div class="privacy">
            By Signing up you agree to our
            <a href="#">terms & Services</a>.
        </div>
    </div>
</section>