<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Registration</title>
</head>

<body>

    <section class="section__registration">
        <div class="registration">
            <div class="part__textual">
                <div class="part__suptitle">New Features</div>
                <div class="part__title">Over 1000 designers are using ...</div>
            </div>
            <div>
                <h1>Thank you <% user.name %>!</h1>
                <a href="/users/register">
                    <h2>Back to website</h2>
                </a>
            </div>
            <div class="privacy">
                By Signing up you agree to our
                <a href="#">terms & Services</a>.
            </div>
        </div>
    </section>

</body>

</html>