@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 300vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* ========== section header ========== */
.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #ffffff url("../img/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 800px;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #333333;
    line-height: 80px;
    margin: 0 0 30px 0;
}

.header__icon {
    color: #8387a5;
    font-size: 4rem;
    cursor: pointer;
    transition: .1s linear;
    margin: 0 0 30px 0;
}

.header__icon:hover,
.header__icon:focus,
.header__icon:active {
    color: #ff6d6d;
    transform: scale(1.1);
}

.button {
    display: inline-block;
    color: #ffffff;
    background-color: #ff6d6d;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 15px 60px;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s linear;
}

.button:hover {
    background-color: #c05454;
}

/* ======= lightbox video ======== */
#lightbox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .7);

    display: none;
    justify-content: center;
    align-items: center;
}

#lightbox:target {
    display: flex;
}

.video {
    position: relative;
}

.lightbox__video {
    width: 560px;
    height: 315px;
}

.button__close {
    position: absolute;
    right: -1em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: #333333;
    background-color: #ff6d6d;
    border-radius: 50%;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button__close::after {
    content: 'X';
    color: #ffffff;
    font-weight: 700;
}

.button__close:hover {
    background-color: #c05454;
}

/* ========== section content ========== */
.section__content {
    background-color: #ECECEC;
}

.content {
    display: flex;
    height: 725px;
    width: 100%;
    margin: 0 auto;
}

.area__backgraund {
    width: 65%;
    display: flex;
    background: #ffffff;
}

.area__content {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ac__suptitle {
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 15px 0;
}

.ac__title {
    color: #333;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
    margin: 0 0 40px 0;
    line-height: 55px;
}

span {
    color: #ff6d6d;
}


.ac__text {
    color: #717171;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    line-height: 30px;
    letter-spacing: 0.5px;
}


/* ====== view block ======== */

.view {
    width: 35%;
    position: relative;
}

.view__triangle {
    width: 100%;
    height: 65%;
    background: linear-gradient(to right bottom, transparent 49.8%, #ff6d6d 50%) left / 100% 100% no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ================================================= block features =============================== */
.section__features {
    height: 765px;
    color: #fff;
    background: url("../img/features-bg.jpg") no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.features__header {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 30px;
    text-align: center;
}

.header__suptitle {
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 15px 0;
}

.header__title {
    color: #333;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
    margin: 0 0 40px 0;
    line-height: 55px;
}


.features__wrapper {
    width: 100%;
    display: flex;
    text-align: center;
}

.features__item {
    width: 33.33333%;
    padding: 0 30px;
    margin: 30px 0;
}

.features__icon {
    width: 67px;
    height: 67px;
    margin: 0 0 20px 0;
}

.features__title {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 10px 0;
}



.features__text {
    color: #6e6e6d;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    line-height: 22px;
    letter-spacing: 1px;
}

/* ======================================= block founder =============================== */

.section__founder {
    position: relative;
}

.founder__triangle {
    width: 50%;
    height: 100%;
    background: linear-gradient(to left bottom, transparent 49.8%, #ff6d6d 50%) left / 100% 150% no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.block__content {
    height: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mac__img {
    width: 55%;
    margin: 0 10px 50px;
}

.area__information {
    width: 45%;
    margin: 0 10px;
}

.ai__suptitle {
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 15px 0;
}

.ai__title {
    color: #333;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
    margin: 0 0 40px 0;
    line-height: 55px;
}

.ai__title span {
    color: #ff6d6d;
}

.ai__text {
    color: #717171;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 20px;
    line-height: 30px;
}

/*=============  Block founder ============*/

.block__founder {
    position: relative;
    background-color: #000;
}

.block__founder::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/dark-fon.jpg");
    background-size: cover;
}

.founder {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.founder__row {
    width: 100%;
    display: flex;
}

.founder__item {
    width: 33.33333%;
    height: auto;
    padding: 0 20px;
    margin: 20px 0;
}

.founder__icon {
    width: 80px;
    height: 80px;
    border: 2px solid #000000;
    margin: 0 auto;
}

.founder__text {
    padding-top: 20px;
}

.founder__name {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 5px 0;
}

.founder__position {
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 30px 0;
}

.founder__about {
    color: #b2b2b4;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Exo', sans-serif;
    margin: 0 0 40px 0;
    letter-spacing: 1px;
}

.partners {
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;
}

.partner__logo {
    padding: 0 15px;
}

.partner__logo {
    display: block;
    width: 950px;
    max-width: 100%;
    height: auto;
}

/* =========================== browser ===================== */
.section__browser {
    background-color: #f6f5f3;
    padding-top: 150px;
    position: relative;
    z-index: 3;
}

.browser {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 850px;
    height: 750px;
    margin: 0 auto;
}

.part__textual {
    width: 100%;
    max-width: 700px;
    height: 300px;
    margin: 0 0 40px 0;
    padding: 0 20px;
    text-align: center;
}

.part__suptitle {
    color: #ff6d6d;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 15px 0;
}

.part__title {
    color: #333;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
    margin: 0 0 40px 0;
    line-height: 55px;
}

.part__text {
    color: #717171;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    margin: 0 0 20px;
    line-height: 30px;
}

.browser__img {
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
}


/* ======= media ======= */
@media (max-width: 970px) {
    .ac__title {
        font-size: 35px;
        margin: 0 0 30px 0;
    }

    .partner__logo {
        width: 100%;
    }
}

@media (max-width: 770px) {

    /* section header */
    .section__header {
        height: 568px;
    }

    .main__title {
        font-size: 45px;
    }

    .lightbox__video {
        width: 400px;
        height: 200px;
    }

    /* section content */
    .area__backgraund {
        width: 100%;
    }

    .view {
        display: none;
    }

    /* section features */
    .section__features {
        background: #f6f5f3;
        height: auto;
    }

    .features__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .features__item {
        width: 65%;
    }

    /* section founder */
    .section__founder {
        height: 770px;
    }

    .founder__triangle {
        display: none;
    }

    .block__content {
        height: 770px;
        flex-direction: column;
    }

    .area__information {
        width: 90%;
    }

    .founder {
        height: auto;
    }

    .founder__row {
        flex-direction: column;
        align-items: center;
    }

    .founder__item {
        width: 60%;
    }

    .partners {
        flex-wrap: wrap;
        justify-content: center;
    }

    .partner__logo {
        width: 50%;
        margin-bottom: 15px;
    }

    .partner__img {
        margin: 0 auto;
    }

    /* browser */
    .browser {
        height: 600px;
    }
}

@media (max-width: 470px) {

    /* section header */
    .section__header {
        height: 654px;
    }

    .main__title {
        font-size: 35px;
        line-height: 50px;
    }

    .lightbox__video {
        width: 300px;
        height: 200px;
    }

    .button__close {
        top: -1em;
        right: 0;
    }

    /* section content */
    .ac__suptitle {
        font-size: 14px;
        margin: 0 0 5px 0;
        line-height: 40px;
    }

    .ac__title {
        font-size: 25px;
        margin: 0 0 20px 0;
        letter-spacing: 1px;
        line-height: 40px;
    }

    .ac__text {
        font-size: 14px;
    }

    /* section features */
    .section__features {
        padding-top: 100px;
    }

    .header__suptitle {
        font-size: 14px;
        margin: 0 0 5px 0;
    }

    .header__title {
        font-size: 30px;
        margin: 0 0 15px 0;
        line-height: 40px;
    }

    .features__item {
        width: 100%;
    }

    /* section founder */
    .ai_suptitle {
        font-size: 14px;
        margin: 0 0 5px 0;
    }

    .ai__title {
        font-size: 30px;
        margin: 0 0 15px 0;
        line-height: 40px;
    }

    .founder__item {
        width: 90%;
    }

    .partners {
        width: 100%;
        flex-wrap: wrap;
    }

    /* browser */
    .browser {
        height: 550px;
    }

    .section__browser {
        padding-top: 100px;
    }

    .part__suptitle {
        font-size: 14px;
        margin: 0 0 5px 0;
    }

    .part__title {
        font-size: 30px;
        margin: 0 0 25px 0;
        line-height: 40px;
    }
}